{% extends "base.html" %}

{% block contenido %}
<h2>Ejercicio 1 - Notas y Asistencia</h2>

<form method="post">
    <label>Nota 1:</label>
   <input type="text" name="nota1" required>



    <label>Nota 2:</label>
   <input type="text" name="nota2" required>



    <label>Nota 3:</label>
    <input type="text" name="nota3" required>


    <label>Asistencia (%):</label>
    <input type="number" name="asistencia" required><br>

    <button type="submit">Calcular</button>
</form>

{% if resultado %}
    <h3>Resultado</h3>
    <p>Promedio: {{ resultado.promedio }}</p>
    <p>Asistencia: {{ resultado.asistencia }}%</p>
    <p>Estado: {{ resultado.estado }}</p>
{% endif %}
{% endblock %}



